.main-title{
    border: 1px solid #0f0;
    border-radius: 0.25rem;
}

.base-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 4px;
}

.form-sub-title-wrapper{
    padding: 4px;
    border-radius: 0.25rem !important;
}

.form-wrapper{
    border-radius: 0.25rem;
    padding: 6px;
}

.basic-info-wrapper-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
